@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
 }




.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;

  background:#453EDB;

  z-index: 150;
}
